openapi: 3.0.3
info:
  title: Kinescope API
  description: |-
    # Authentication

    To authenticate user requests to the API, we use Bearer Token with the transfer of the Access Key.  
    To get a key please sign up in the dashboard.

    For cURL requests you can provide an access token in header:

    Using header: `-H 'Authorization: Bearer '`

    # Errors

    For successful requests, API will respond with an HTTP-200 and the body will contain a JSON object.

    - HTTP 200 Success
    - HTTP 400 Bad request parameters
    - HTTP 401 Unauthorized
    - HTTP 402 Payment required
    - HTTP 404 Object not found
    - HTTP 403 Access denied
        

    Example error response:

    ```
    "error": {
        "code": 400301,
        "message": "invalid uuid format",
        "detail": "see https://en.wikipedia.org/wiki/Universally_unique_identifier"
    }

    ```

    | Code |  | Description |
    | --- | --- | --- |
    | 1 | IO_ERROR | No body in request |
    | 100101 | AUTH_AUTHORIZATION_HEADER_NOT_FOUND |  |
    | 100102 | UNAUTHORIZED |  |
    | 100103 | ACCESS_DENIED |  |
    | 100104 | INVALID_USERNAME_OR_PASSWORD |  |
    | 100105 | INVALID_CONFIRMATION_TOKEN |  |
    | 100106 | LIMIT_REACHED |  |
    | 100107 | USER_IS_NOT_OWNER |  |
    |  |  |  |
    | 400101 | JSON_SYNTAX_ERROR |  |
    | 400102 | JSON_UNMARSHAL_TYPE_ERROR |  |
    | 400201 | HAS_ALREADY_BEEN_TAKEN |  |
    | 400202 | EMAIL_IS_ALREADY_TAKEN |  |
    | 400203 | NAME_IS_ALREADY_TAKEN |  |
    | 400204 | INVITATION_IS_ALREADY_EXIST |  |
    | 400205 | INVITATION_IS_ALREADY_APPROVED |  |
    | 400206 | BILLING_ACCOUNT_IS_ALREADY_EXIST |  |
    | 400207 | NOT_ENOUGH_MONEY |  |
    | 400208 | NO_BILLING_ACCOUNT |  |
    | 400209 | NO_PAYMENT_METHOD |  |
    | 400210 | NOT_ENOUGH_REQUIRED_PRODUCTS |  |
    | 400211 | NOT_ALLOWED_ADDITIONAL_FOR_TRIAL |  |
    | 400212 | SUBSCRIPTION_NOT_PAID |  |
    | 400213 | EMAIL_NOT_CONFIRMED |  |
    | 400214 | EMAIL_NOT_FOUND |  |
    | 400215 | RESET_TOKEN_NOT_FOUND_OR_EXPIRED |  |
    | 400216 | NOT_ALLOWED_ORDER_FIELD |  |
    |  |  |  |
    | 400400 | UNEXPECTED_VALUE |  |
    | 402402 | VALIDATION_ERROR |  |
    | 404404 | NO_SUCH_ENTITY |  |
    | 500500 | INTERNAL_SERVER_ERROR | Internal server error |
  version: 1.0.0
  contact:
    name: Kinescope API Support
    url: https://kinescope.io
servers:
  - url: https://api.kinescope.io
    description: Production server
  - url: https://api-staging.kinescope.io
    description: Staging server
tags:
  - name: v1
    description: API endpoints для v1
  - name: v1/videos
    description: |-
      # The video object

      | Field | Type | Description |
      | --- | --- | --- |
      | id | string | Unique identifier for the object. |
      | project_id | string |  |
      | folder_id | string |  |
      | version | number |  |
      | title | string |  |
      | description | string |  |
      | status | enum | Available values: pending, uploading, pre-processing, processing, aborted, done, error |
      | progress | number | Video processing progress |
      | duration | number | Video duration in seconds |
      | assets | \[\]Asset |  |
      | chapters | [Chapters](#e57a16d4-4da7-423c-afaf-48d3da40e84c) |  |
      | privacy_type | enum | Available values: anywhere,nowhere, custom |
      | privacy_domains | \[\]string | Whitelist domains |
      | poster | [Poster](#db6628a0-6e06-4ec7-92b7-0fd04979509e) |  |
      | additional_materials | [AdditionalMaterial](#3cf7f82b-b298-45eb-a838-16348541aa62) |  |
      | additional_materials_enabled | bool |  |
      | annotation_text_enabled | bool |  |
      | annotation_video_enabled | bool |  |
      | created_at | datetime |  |
      | updated_at | datetime |  |
      | play_link | string | Link to player |
      | embed_link | string | Embed player link |
      | subtitles |  | Subtitles |
      | subtitles_enabled | boolean | Show/Hide subtitles in player |
      | hls_link | string | Link to HLS manifest |
  - name: v1/videos/posters
    description: API endpoints для posters
  - name: v1/videos/subtitles
    description: API endpoints для subtitles
  - name: v1/videos/annotations
    description: API endpoints для annotations
  - name: v1/billing
    description: API endpoints для billing
  - name: v1/projects
    description: |
      # The project object

      | Field        |   Type        |  Description |
      |--------------|:-------------:|-------------:|
      | id           |  string       | Unique identifier for the object.            |
      | name         |  string       | Project name            |
      | folders      |  [][Folder](#9f53655c-31c2-4bf9-91e1-13b17f608f9f)     | List project folders             |
      | created_at   |  datetime     |              |
      | updated_at   |  datetime     |              |
  - name: v1/folders
    description: |+
      # The folder object

      | Field        |   Type        |  Description |
      |--------------|:-------------:|-------------:|
      | id           |  string       | Unique identifier for the object.            |
      | name         |  string       | Folder name            |
      | project_id   |  string       |              |
      | created_at   |  datetime     |              |
      | updated_at   |  datetime     |              |

  - name: v1/analytics
    description: API endpoints для analytics
  - name: v1/additional-materials
    description: API endpoints для additional-materials
  - name: v1/dictionaries
    description: API endpoints для dictionaries
  - name: v1/access-tokens
    description: API endpoints для access-tokens
  - name: v1/user/avatar
    description: API endpoints для user/avatar
  - name: v1/avatars
    description: API endpoints для avatars
  - name: v1/players
    description: API endpoints для players
  - name: v1/file-requests
    description: API endpoints для file-requests
  - name: v1/drm
    description: API endpoints для drm
  - name: v1/drm/on project
    description: API endpoints для on project
  - name: v1/privacy-domains
    description: API endpoints для privacy-domains
  - name: v1/tags
    description: API endpoints для tags
  - name: v1/playlists
    description: API endpoints для playlists
  - name: v1/playlists/entities
    description: API endpoints для entities
  - name: v1/moderators
    description: API endpoints для moderators
  - name: v1/webhooks
    description: >-
      [https://kinescope.notion.site/886ae0bc2ac14a149e71cf0ffec3881d?pvs=4](https://kinescope.notion.site/886ae0bc2ac14a149e71cf0ffec3881d?pvs=4)
  - name: v1/cdn
    description: API endpoints для cdn
  - name: v1/speak
    description: API endpoints для speak
  - name: v1/speak/rooms
    description: API endpoints для rooms
  - name: v1/speak/rooms/participants
    description: API endpoints для participants
  - name: v2
    description: API endpoints для v2
  - name: v2/videos
    description: API endpoints для videos
  - name: v2/live
    description: |-
      # The event object

      | Field | Type | Description |
      | --- | --- | --- |
      | id | string | Unique identifier for the object. |
      | type | string | Available values: one-time, recurring |
  - name: v2/live/restreams
    description: API endpoints для restreams
  - name: v2/posters
    description: API endpoints для posters
paths:
  /v1/videos/{video_id}/posters:
    get:
      tags:
        - v1
        - videos
        - posters
      summary: Posters list
      description: Posters list
      operationId: posters_list
      parameters:
        - name: video_id
          in: path
          required: true
          description: 'ID параметр: video_id'
          schema:
            type: string
          example: 5o1o7855WXEWDcETxN7CKc
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                      detail:
                        type: string
              example:
                error:
                  code: 400301
                  message: invalid uuid format
                  detail: see https://en.wikipedia.org/wiki/Universally_unique_identifier
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
        '404':
          description: Object not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
      security:
        - bearerAuth: []
    post:
      tags:
        - v1
        - videos
        - posters
      summary: Create poster by time
      description: Create poster by time
      operationId: create_poster_by_time
      parameters:
        - name: video_id
          in: path
          required: true
          description: 'ID параметр: video_id'
          schema:
            type: string
          example: hJ6yKbBX3RPs4EgB8zcy4e
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                from_time:
                  type: number
                  example: 2.3333
              required:
                - from_time
            example:
              from_time: 2.3333
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                      detail:
                        type: string
              example:
                error:
                  code: 400301
                  message: invalid uuid format
                  detail: see https://en.wikipedia.org/wiki/Universally_unique_identifier
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
        '404':
          description: Object not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
      security:
        - bearerAuth: []
  /v1/videos/{video_id}/posters/{poster_id}:
    get:
      tags:
        - v1
        - videos
        - posters
      summary: Get poster
      description: Get poster
      operationId: get_poster
      parameters:
        - name: video_id
          in: path
          required: true
          description: 'ID параметр: video_id'
          schema:
            type: string
          example: hJ6yKbBX3RPs4EgB8zcy4e
        - name: poster_id
          in: path
          required: true
          description: 'ID параметр: poster_id'
          schema:
            type: string
          example: vhCAQZrDJpjC3Zgf5WRNAb
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                      detail:
                        type: string
              example:
                error:
                  code: 400301
                  message: invalid uuid format
                  detail: see https://en.wikipedia.org/wiki/Universally_unique_identifier
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
        '404':
          description: Object not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
      security:
        - bearerAuth: []
    delete:
      tags:
        - v1
        - videos
        - posters
      summary: Delete poster
      description: Delete poster
      operationId: delete_poster
      parameters:
        - name: video_id
          in: path
          required: true
          description: 'ID параметр: video_id'
          schema:
            type: string
          example: hJ6yKbBX3RPs4EgB8zcy4e
        - name: poster_id
          in: path
          required: true
          description: 'ID параметр: poster_id'
          schema:
            type: string
          example: vhCAQZrDJpjC3Zgf5WRNAb
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                      detail:
                        type: string
              example:
                error:
                  code: 400301
                  message: invalid uuid format
                  detail: see https://en.wikipedia.org/wiki/Universally_unique_identifier
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
        '404':
          description: Object not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
      security:
        - bearerAuth: []
  /v1/videos/{video_id}/posters/{poster_id}/active:
    post:
      tags:
        - v1
        - videos
        - posters
      summary: Set active poster
      description: Set active poster
      operationId: set_active_poster
      parameters:
        - name: video_id
          in: path
          required: true
          description: 'ID параметр: video_id'
          schema:
            type: string
          example: hJ6yKbBX3RPs4EgB8zcy4e
        - name: poster_id
          in: path
          required: true
          description: 'ID параметр: poster_id'
          schema:
            type: string
          example: vhCAQZrDJpjC3Zgf5WRNAb
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                      detail:
                        type: string
              example:
                error:
                  code: 400301
                  message: invalid uuid format
                  detail: see https://en.wikipedia.org/wiki/Universally_unique_identifier
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
        '404':
          description: Object not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
      security:
        - bearerAuth: []
  /v1/videos/{video_id}/subtitles:
    get:
      tags:
        - v1
        - videos
        - subtitles
      summary: List subtitles
      description: List subtitles
      operationId: list_subtitles
      parameters:
        - name: video_id
          in: path
          required: true
          description: 'ID параметр: video_id'
          schema:
            type: string
          example: b397f673-a7b1-4ff7-81a7-f31354b2fc48
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                language:
                  type: string
                  example: ru
                description:
                  type: string
                  example: описание файла с субтитрами
                file:
                  type: string
                  format: binary
                  description: Файл для загрузки
              required:
                - language
                - description
      responses:
        '200':
          description: Add subtitle  file
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 1390fb1e-56db-46e7-8695-7948d2c23bf8
                      video_id:
                        type: string
                        example: 393b4536-7ef2-45e9-90f5-83bdeb5e0612
                      description:
                        type: string
                        example: описание файла с субтитрами
                      language:
                        type: string
                        example: ru
                      file:
                        type: string
                        example: ''
                      file_name:
                        type: string
                        example: e8d5cc8d-404c-4a9d-8f01-28441dac0535.vtt
                      hls_file:
                        type: string
                        example: ''
                      url:
                        type: string
                        example: >-
                          https://kinescopecdn.net/b20c7104-2c22-49be-8ec3-e8a4b6af4dfb/subtitles/393b4536-7ef2-45e9-90f5-83bdeb5e0612/1390fb1e-56db-46e7-8695-7948d2c23bf8?expires=1659443387&sign=cdac541d84e59f7f66e983a166b1eb99
                    required:
                      - id
                      - video_id
                      - description
                      - language
                      - file_name
                      - url
                required:
                  - data
              example:
                data:
                  id: 1390fb1e-56db-46e7-8695-7948d2c23bf8
                  video_id: 393b4536-7ef2-45e9-90f5-83bdeb5e0612
                  description: описание файла с субтитрами
                  language: ru
                  file: ''
                  file_name: e8d5cc8d-404c-4a9d-8f01-28441dac0535.vtt
                  hls_file: ''
                  url: >-
                    https://kinescopecdn.net/b20c7104-2c22-49be-8ec3-e8a4b6af4dfb/subtitles/393b4536-7ef2-45e9-90f5-83bdeb5e0612/1390fb1e-56db-46e7-8695-7948d2c23bf8?expires=1659443387&sign=cdac541d84e59f7f66e983a166b1eb99
        '400':
          description: Bad request parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                      detail:
                        type: string
              example:
                error:
                  code: 400301
                  message: invalid uuid format
                  detail: see https://en.wikipedia.org/wiki/Universally_unique_identifier
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
        '404':
          description: Object not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
      security:
        - bearerAuth: []
    post:
      tags:
        - v1
        - videos
        - subtitles
      summary: Add subtitle  file
      description: Add subtitle  file
      operationId: add_subtitle_file
      parameters:
        - name: video_id
          in: path
          required: true
          description: 'ID параметр: video_id'
          schema:
            type: string
          example: 881cf46f-4687-4de4-bef7-a9902a4efa91
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                language:
                  type: string
                  example: ru
                description:
                  type: string
                  example: описание файла с субтитрами
                file:
                  type: string
                  format: binary
                  description: Файл для загрузки
              required:
                - language
                - description
      responses:
        '200':
          description: Add subtitle  file
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 1390fb1e-56db-46e7-8695-7948d2c23bf8
                      video_id:
                        type: string
                        example: 393b4536-7ef2-45e9-90f5-83bdeb5e0612
                      description:
                        type: string
                        example: описание файла с субтитрами
                      language:
                        type: string
                        example: ru
                      file:
                        type: string
                        example: ''
                      file_name:
                        type: string
                        example: e8d5cc8d-404c-4a9d-8f01-28441dac0535.vtt
                      hls_file:
                        type: string
                        example: ''
                      url:
                        type: string
                        example: >-
                          https://kinescopecdn.net/b20c7104-2c22-49be-8ec3-e8a4b6af4dfb/subtitles/393b4536-7ef2-45e9-90f5-83bdeb5e0612/1390fb1e-56db-46e7-8695-7948d2c23bf8?expires=1659443387&sign=cdac541d84e59f7f66e983a166b1eb99
                    required:
                      - id
                      - video_id
                      - description
                      - language
                      - file_name
                      - url
                required:
                  - data
              example:
                data:
                  id: 1390fb1e-56db-46e7-8695-7948d2c23bf8
                  video_id: 393b4536-7ef2-45e9-90f5-83bdeb5e0612
                  description: описание файла с субтитрами
                  language: ru
                  file: ''
                  file_name: e8d5cc8d-404c-4a9d-8f01-28441dac0535.vtt
                  hls_file: ''
                  url: >-
                    https://kinescopecdn.net/b20c7104-2c22-49be-8ec3-e8a4b6af4dfb/subtitles/393b4536-7ef2-45e9-90f5-83bdeb5e0612/1390fb1e-56db-46e7-8695-7948d2c23bf8?expires=1659443387&sign=cdac541d84e59f7f66e983a166b1eb99
        '400':
          description: Bad request parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                      detail:
                        type: string
              example:
                error:
                  code: 400301
                  message: invalid uuid format
                  detail: see https://en.wikipedia.org/wiki/Universally_unique_identifier
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
        '404':
          description: Object not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
      security:
        - bearerAuth: []
  /v1/videos/{video_id}/subtitles/reorder:
    patch:
      tags:
        - v1
        - videos
        - subtitles
      summary: Reorder
      description: Reorder
      operationId: reorder
      parameters:
        - name: video_id
          in: path
          required: true
          description: 'ID параметр: video_id'
          schema:
            type: string
          example: b397f673-a7b1-4ff7-81a7-f31354b2fc48
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
                example: 37f1b240-7b4d-4931-b447-333ce64f61fc
            example:
              - 37f1b240-7b4d-4931-b447-333ce64f61fc
              - aca44bfd-b76f-49db-aa91-4f145dfaa8d7
              - 55e5a259-8f75-48db-9420-77383f447aa9
              - 26daccfd-5dd9-4fe4-b085-773d1c2e6be8
      responses:
        '200':
          description: Add subtitle  file
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 1390fb1e-56db-46e7-8695-7948d2c23bf8
                      video_id:
                        type: string
                        example: 393b4536-7ef2-45e9-90f5-83bdeb5e0612
                      description:
                        type: string
                        example: описание файла с субтитрами
                      language:
                        type: string
                        example: ru
                      file:
                        type: string
                        example: ''
                      file_name:
                        type: string
                        example: e8d5cc8d-404c-4a9d-8f01-28441dac0535.vtt
                      hls_file:
                        type: string
                        example: ''
                      url:
                        type: string
                        example: >-
                          https://kinescopecdn.net/b20c7104-2c22-49be-8ec3-e8a4b6af4dfb/subtitles/393b4536-7ef2-45e9-90f5-83bdeb5e0612/1390fb1e-56db-46e7-8695-7948d2c23bf8?expires=1659443387&sign=cdac541d84e59f7f66e983a166b1eb99
                    required:
                      - id
                      - video_id
                      - description
                      - language
                      - file_name
                      - url
                required:
                  - data
              example:
                data:
                  id: 1390fb1e-56db-46e7-8695-7948d2c23bf8
                  video_id: 393b4536-7ef2-45e9-90f5-83bdeb5e0612
                  description: описание файла с субтитрами
                  language: ru
                  file: ''
                  file_name: e8d5cc8d-404c-4a9d-8f01-28441dac0535.vtt
                  hls_file: ''
                  url: >-
                    https://kinescopecdn.net/b20c7104-2c22-49be-8ec3-e8a4b6af4dfb/subtitles/393b4536-7ef2-45e9-90f5-83bdeb5e0612/1390fb1e-56db-46e7-8695-7948d2c23bf8?expires=1659443387&sign=cdac541d84e59f7f66e983a166b1eb99
        '400':
          description: Bad request parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                      detail:
                        type: string
              example:
                error:
                  code: 400301
                  message: invalid uuid format
                  detail: see https://en.wikipedia.org/wiki/Universally_unique_identifier
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
        '404':
          description: Object not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
      security:
        - bearerAuth: []
  /v1/videos/{video_id}/subtitles/{subtitle_id}:
    get:
      tags:
        - v1
        - videos
        - subtitles
      summary: Get subtitle
      description: Get subtitle
      operationId: get_subtitle
      parameters:
        - name: video_id
          in: path
          required: true
          description: 'ID параметр: video_id'
          schema:
            type: string
          example: b397f673-a7b1-4ff7-81a7-f31354b2fc48
        - name: subtitle_id
          in: path
          required: true
          description: 'ID параметр: subtitle_id'
          schema:
            type: string
          example: 37f1b240-7b4d-4931-b447-333ce64f61fc
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                language:
                  type: string
                  example: ru
                description:
                  type: string
                  example: описание файла с субтитрами
                file:
                  type: string
                  format: binary
                  description: Файл для загрузки
              required:
                - language
                - description
      responses:
        '200':
          description: Add subtitle  file
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 1390fb1e-56db-46e7-8695-7948d2c23bf8
                      video_id:
                        type: string
                        example: 393b4536-7ef2-45e9-90f5-83bdeb5e0612
                      description:
                        type: string
                        example: описание файла с субтитрами
                      language:
                        type: string
                        example: ru
                      file:
                        type: string
                        example: ''
                      file_name:
                        type: string
                        example: e8d5cc8d-404c-4a9d-8f01-28441dac0535.vtt
                      hls_file:
                        type: string
                        example: ''
                      url:
                        type: string
                        example: >-
                          https://kinescopecdn.net/b20c7104-2c22-49be-8ec3-e8a4b6af4dfb/subtitles/393b4536-7ef2-45e9-90f5-83bdeb5e0612/1390fb1e-56db-46e7-8695-7948d2c23bf8?expires=1659443387&sign=cdac541d84e59f7f66e983a166b1eb99
                    required:
                      - id
                      - video_id
                      - description
                      - language
                      - file_name
                      - url
                required:
                  - data
              example:
                data:
                  id: 1390fb1e-56db-46e7-8695-7948d2c23bf8
                  video_id: 393b4536-7ef2-45e9-90f5-83bdeb5e0612
                  description: описание файла с субтитрами
                  language: ru
                  file: ''
                  file_name: e8d5cc8d-404c-4a9d-8f01-28441dac0535.vtt
                  hls_file: ''
                  url: >-
                    https://kinescopecdn.net/b20c7104-2c22-49be-8ec3-e8a4b6af4dfb/subtitles/393b4536-7ef2-45e9-90f5-83bdeb5e0612/1390fb1e-56db-46e7-8695-7948d2c23bf8?expires=1659443387&sign=cdac541d84e59f7f66e983a166b1eb99
        '400':
          description: Bad request parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                      detail:
                        type: string
              example:
                error:
                  code: 400301
                  message: invalid uuid format
                  detail: see https://en.wikipedia.org/wiki/Universally_unique_identifier
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
        '404':
          description: Object not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
      security:
        - bearerAuth: []
    patch:
      tags:
        - v1
        - videos
        - subtitles
      summary: Update subtitle info
      description: Update subtitle info
      operationId: update_subtitle_info
      parameters:
        - name: video_id
          in: path
          required: true
          description: 'ID параметр: video_id'
          schema:
            type: string
          example: b397f673-a7b1-4ff7-81a7-f31354b2fc48
        - name: subtitle_id
          in: path
          required: true
          description: 'ID параметр: subtitle_id'
          schema:
            type: string
          example: 37f1b240-7b4d-4931-b447-333ce64f61fc
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                language:
                  type: string
                  example: ru
                description:
                  type: string
                  example: desc111
              required:
                - language
                - description
            example:
              language: ru
              description: desc111
      responses:
        '200':
          description: Update subtitle info
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 1390fb1e-56db-46e7-8695-7948d2c23bf8
                      video_id:
                        type: string
                        example: 393b4536-7ef2-45e9-90f5-83bdeb5e0612
                      description:
                        type: string
                        example: desc
                      language:
                        type: string
                        example: ru
                      file:
                        type: string
                        example: ''
                      file_name:
                        type: string
                        nullable: true
                      hls_file:
                        type: string
                        example: ''
                      url:
                        type: string
                        example: >-
                          https://kinescopecdn.net/b20c7104-2c22-49be-8ec3-e8a4b6af4dfb/subtitles/393b4536-7ef2-45e9-90f5-83bdeb5e0612/1390fb1e-56db-46e7-8695-7948d2c23bf8?expires=1659443508&sign=bf321e1bf5de62af2f2d46176fba7be9
                    required:
                      - id
                      - video_id
                      - description
                      - language
                      - url
                required:
                  - data
              example:
                data:
                  id: 1390fb1e-56db-46e7-8695-7948d2c23bf8
                  video_id: 393b4536-7ef2-45e9-90f5-83bdeb5e0612
                  description: desc
                  language: ru
                  file: ''
                  file_name: null
                  hls_file: ''
                  url: >-
                    https://kinescopecdn.net/b20c7104-2c22-49be-8ec3-e8a4b6af4dfb/subtitles/393b4536-7ef2-45e9-90f5-83bdeb5e0612/1390fb1e-56db-46e7-8695-7948d2c23bf8?expires=1659443508&sign=bf321e1bf5de62af2f2d46176fba7be9
        '400':
          description: Bad request parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                      detail:
                        type: string
              example:
                error:
                  code: 400301
                  message: invalid uuid format
                  detail: see https://en.wikipedia.org/wiki/Universally_unique_identifier
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
        '404':
          description: Object not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
      security:
        - bearerAuth: []
    delete:
      tags:
        - v1
        - videos
        - subtitles
      summary: Delete subtitle
      description: Delete subtitle
      operationId: delete_subtitle
      parameters:
        - name: video_id
          in: path
          required: true
          description: 'ID параметр: video_id'
          schema:
            type: string
          example: 881cf46f-4687-4de4-bef7-a9902a4efa91
        - name: subtitle_id
          in: path
          required: true
          description: 'ID параметр: subtitle_id'
          schema:
            type: string
          example: 1390fb1e-56db-46e7-8695-7948d2c23bf8
      responses:
        '200':
          description: Delete subtitle
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      success:
                        type: boolean
                        example: true
                    required:
                      - success
                required:
                  - data
              example:
                data:
                  success: true
        '400':
          description: Bad request parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                      detail:
                        type: string
              example:
                error:
                  code: 400301
                  message: invalid uuid format
                  detail: see https://en.wikipedia.org/wiki/Universally_unique_identifier
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
        '404':
          description: Object not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
      security:
        - bearerAuth: []
  /v1/videos/{video_id}/subtitles/{subtitle_id}/copy:
    post:
      tags:
        - v1
        - videos
        - subtitles
      summary: Copy
      description: Copy
      operationId: copy
      parameters:
        - name: video_id
          in: path
          required: true
          description: 'ID параметр: video_id'
          schema:
            type: string
          example: b397f673-a7b1-4ff7-81a7-f31354b2fc48
        - name: subtitle_id
          in: path
          required: true
          description: 'ID параметр: subtitle_id'
          schema:
            type: string
          example: 37f1b240-7b4d-4931-b447-333ce64f61fc
      responses:
        '200':
          description: Update subtitle info
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 1390fb1e-56db-46e7-8695-7948d2c23bf8
                      video_id:
                        type: string
                        example: 393b4536-7ef2-45e9-90f5-83bdeb5e0612
                      description:
                        type: string
                        example: desc
                      language:
                        type: string
                        example: ru
                      file:
                        type: string
                        example: ''
                      file_name:
                        type: string
                        nullable: true
                      hls_file:
                        type: string
                        example: ''
                      url:
                        type: string
                        example: >-
                          https://kinescopecdn.net/b20c7104-2c22-49be-8ec3-e8a4b6af4dfb/subtitles/393b4536-7ef2-45e9-90f5-83bdeb5e0612/1390fb1e-56db-46e7-8695-7948d2c23bf8?expires=1659443508&sign=bf321e1bf5de62af2f2d46176fba7be9
                    required:
                      - id
                      - video_id
                      - description
                      - language
                      - url
                required:
                  - data
              example:
                data:
                  id: 1390fb1e-56db-46e7-8695-7948d2c23bf8
                  video_id: 393b4536-7ef2-45e9-90f5-83bdeb5e0612
                  description: desc
                  language: ru
                  file: ''
                  file_name: null
                  hls_file: ''
                  url: >-
                    https://kinescopecdn.net/b20c7104-2c22-49be-8ec3-e8a4b6af4dfb/subtitles/393b4536-7ef2-45e9-90f5-83bdeb5e0612/1390fb1e-56db-46e7-8695-7948d2c23bf8?expires=1659443508&sign=bf321e1bf5de62af2f2d46176fba7be9
        '400':
          description: Bad request parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                      detail:
                        type: string
              example:
                error:
                  code: 400301
                  message: invalid uuid format
                  detail: see https://en.wikipedia.org/wiki/Universally_unique_identifier
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
        '404':
          description: Object not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
      security:
        - bearerAuth: []
  /v1/videos/{video_id}/annotations/{annotation_id}:
    get:
      tags:
        - v1
        - videos
        - annotations
      summary: Get annotation
      description: Get annotation
      operationId: get_annotation
      parameters:
        - name: video_id
          in: path
          required: true
          description: 'ID параметр: video_id'
          schema:
            type: string
          example: ''
        - name: annotation_id
          in: path
          required: true
          description: 'ID параметр: annotation_id'
          schema:
            type: string
          example: ''
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                      detail:
                        type: string
              example:
                error:
                  code: 400301
                  message: invalid uuid format
                  detail: see https://en.wikipedia.org/wiki/Universally_unique_identifier
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
        '404':
          description: Object not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
      security:
        - bearerAuth: []
    put:
      tags:
        - v1
        - videos
        - annotations
      summary: Update annotation
      description: Update annotation
      operationId: update_annotation
      parameters:
        - name: video_id
          in: path
          required: true
          description: 'ID параметр: video_id'
          schema:
            type: string
          example: ''
        - name: annotation_id
          in: path
          required: true
          description: 'ID параметр: annotation_id'
          schema:
            type: string
          example: ''
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                video_id:
                  type: string
                  example: a8ea2af1-f322-41f7-abe3-24a3693921c9
                annotation_poster_id:
                  type: string
                  example: 2d93bc46-b12c-4eab-b584-133869816285
                title:
                  type: string
                  example: new annotation
                link:
                  type: string
                  example: https://example.com
                start_time:
                  type: integer
                  example: 0
                end_time:
                  type: integer
                  example: 10000
              required:
                - video_id
                - annotation_poster_id
                - title
                - link
                - start_time
                - end_time
            example:
              video_id: a8ea2af1-f322-41f7-abe3-24a3693921c9
              annotation_poster_id: 2d93bc46-b12c-4eab-b584-133869816285
              title: new annotation
              link: https://example.com
              start_time: 0
              end_time: 10000
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                      detail:
                        type: string
              example:
                error:
                  code: 400301
                  message: invalid uuid format
                  detail: see https://en.wikipedia.org/wiki/Universally_unique_identifier
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
        '404':
          description: Object not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
      security:
        - bearerAuth: []
    delete:
      tags:
        - v1
        - videos
        - annotations
      summary: Delete annotation
      description: Delete annotation
      operationId: delete_annotation
      parameters:
        - name: video_id
          in: path
          required: true
          description: 'ID параметр: video_id'
          schema:
            type: string
          example: ''
        - name: annotation_id
          in: path
          required: true
          description: 'ID параметр: annotation_id'
          schema:
            type: string
          example: ''
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                      detail:
                        type: string
              example:
                error:
                  code: 400301
                  message: invalid uuid format
                  detail: see https://en.wikipedia.org/wiki/Universally_unique_identifier
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
        '404':
          description: Object not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
      security:
        - bearerAuth: []
  /v1/videos/{video_id}/annotations:
    get:
      tags:
        - v1
        - videos
        - annotations
      summary: List annotations
      description: List annotations
      operationId: list_annotations
      parameters:
        - name: video_id
          in: path
          required: true
          description: 'ID параметр: video_id'
          schema:
            type: string
          example: ''
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                      detail:
                        type: string
              example:
                error:
                  code: 400301
                  message: invalid uuid format
                  detail: see https://en.wikipedia.org/wiki/Universally_unique_identifier
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
        '404':
          description: Object not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
      security:
        - bearerAuth: []
    post:
      tags:
        - v1
        - videos
        - annotations
      summary: Add annotation
      description: Add annotation
      operationId: add_annotation
      parameters:
        - name: video_id
          in: path
          required: true
          description: 'ID параметр: video_id'
          schema:
            type: string
          example: ''
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                video_id:
                  type: string
                  example: a8ea2af1-f322-41f7-abe3-24a3693921c9
                annotation_poster_id:
                  type: string
                  example: 2d93bc46-b12c-4eab-b584-133869816285
                type:
                  type: string
                  example: video/text
                title:
                  type: string
                  example: new annotation
                link:
                  type: string
                  example: https://example.com
                start_time:
                  type: integer
                  example: 0
                end_time:
                  type: integer
                  example: 10000
              required:
                - video_id
                - annotation_poster_id
                - type
                - title
                - link
                - start_time
                - end_time
            example:
              video_id: a8ea2af1-f322-41f7-abe3-24a3693921c9
              annotation_poster_id: 2d93bc46-b12c-4eab-b584-133869816285
              type: video/text
              title: new annotation
              link: https://example.com
              start_time: 0
              end_time: 10000
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                      detail:
                        type: string
              example:
                error:
                  code: 400301
                  message: invalid uuid format
                  detail: see https://en.wikipedia.org/wiki/Universally_unique_identifier
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
        '404':
          description: Object not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
      security:
        - bearerAuth: []
  /v1/videos:
    get:
      tags:
        - v1
        - videos
      summary: Videos list
      description: Videos list
      operationId: videos_list
      parameters:
        - name: page
          in: query
          required: false
          description: ''
          schema:
            type: string
          example: '1'
        - name: per_page
          in: query
          required: false
          description: ''
          schema:
            type: string
          example: '100'
        - name: order
          in: query
          required: false
          description: title, description, created_at, updated_at, duration
          schema:
            type: string
          example: created_at.desc,title.asc
        - name: status[]
          in: query
          required: false
          description: pending, uploading, pre-processing, processing, aborted, done, error
          schema:
            type: string
        - name: folder_id
          in: query
          required: false
          description: ''
          schema:
            type: string
        - name: project_id
          in: query
          required: false
          description: ''
          schema:
            type: string
        - name: video_ids[]
          in: query
          required: false
          description: List of video IDs to fetch
          schema:
            type: string
        - name: q
          in: query
          required: false
          description: String for searching in title, description
          schema:
            type: string
        - name: without_folder
          in: query
          required: false
          description: Show only videos without folder
          schema:
            type: string
          example: 'true'
      responses:
        '200':
          description: Videos list
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      pagination:
                        type: object
                        properties:
                          page:
                            type: integer
                            example: 1
                          per_page:
                            type: integer
                            example: 1
                          total:
                            type: integer
                            example: 10
                        required:
                          - page
                          - per_page
                          - total
                      order:
                        type: object
                        properties:
                          created_at:
                            type: string
                            example: desc
                          title:
                            type: string
                            example: asc
                        required:
                          - created_at
                          - title
                    required:
                      - pagination
                      - order
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: vKSxQyZScoQfP29oothREi
                        project_id:
                          type: string
                          example: mNFQz2wYTBhLkPBCo9oS8m
                        folder_id:
                          type: string
                          nullable: true
                        version:
                          type: integer
                          example: 0
                        title:
                          type: string
                          example: sample_video
                        description:
                          type: string
                          example: ''
                        status:
                          type: string
                          example: uploading
                        progress:
                          type: integer
                          example: 100
                        duration:
                          type: integer
                          example: 0
                        assets:
                          type: array
                          items:
                            type: object
                        chapters:
                          type: object
                          properties:
                            items:
                              type: array
                              items:
                                type: object
                            enabled:
                              type: boolean
                              example: false
                            show_on_load:
                              type: boolean
                              example: false
                          required:
                            - items
                            - enabled
                            - show_on_load
                        privacy_type:
                          type: string
                          example: anywhere
                        privacy_domains:
                          type: array
                          items:
                            type: object
                        poster:
                          type: string
                          nullable: true
                        additional_materials:
                          type: string
                          nullable: true
                        additional_materials_enabled:
                          type: boolean
                          example: false
                        play_link:
                          type: string
                          example: https://kinescope.io/199511994
                        embed_link:
                          type: string
                          example: https://kinescope.io/embed/199511994
                        created_at:
                          type: string
                          example: '2020-08-31T09:03:00.106436Z'
                        updated_at:
                          type: string
                          nullable: true
                        subtitles:
                          type: array
                          items:
                            type: object
                        subtitles_enabled:
                          type: boolean
                          example: false
                        hls_link:
                          type: string
                          example: https://kinescope.io/199511994/master.m3u8
                      required:
                        - id
                        - project_id
                        - version
                        - title
                        - status
                        - progress
                        - duration
                        - assets
                        - chapters
                        - privacy_type
                        - privacy_domains
                        - additional_materials_enabled
                        - play_link
                        - embed_link
                        - created_at
                        - subtitles
                        - subtitles_enabled
                        - hls_link
                required:
                  - meta
                  - data
              example:
                meta:
                  pagination:
                    page: 1
                    per_page: 1
                    total: 10
                  order:
                    created_at: desc
                    title: asc
                data:
                  - id: vKSxQyZScoQfP29oothREi
                    project_id: mNFQz2wYTBhLkPBCo9oS8m
                    folder_id: null
                    version: 0
                    title: sample_video
                    description: ''
                    status: uploading
                    progress: 100
                    duration: 0
                    assets: []
                    chapters:
                      items: []
                      enabled: false
                      show_on_load: false
                    privacy_type: anywhere
                    privacy_domains: []
                    poster: null
                    additional_materials: null
                    additional_materials_enabled: false
                    play_link: https://kinescope.io/199511994
                    embed_link: https://kinescope.io/embed/199511994
                    created_at: '2020-08-31T09:03:00.106436Z'
                    updated_at: null
                    subtitles: []
                    subtitles_enabled: false
                    hls_link: https://kinescope.io/199511994/master.m3u8
        '400':
          description: Bad request parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                      detail:
                        type: string
              example:
                error:
                  code: 400301
                  message: invalid uuid format
                  detail: see https://en.wikipedia.org/wiki/Universally_unique_identifier
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
        '404':
          description: Object not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
      security:
        - bearerAuth: []
  /v1/videos/{video_id}:
    get:
      tags:
        - v1
        - videos
      summary: Get video
      description: Get video
      operationId: get_video
      parameters:
        - name: video_id
          in: path
          required: true
          description: 'ID параметр: video_id'
          schema:
            type: string
          example: nDs18x14cTkxSKnBPbpEi3
      responses:
        '200':
          description: Get video
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 0fe408bb-4289-4088-8705-7d5a60b8081c
                      project_id:
                        type: string
                        example: 5a676eb1-ffc1-4924-95fc-73b811fa139a
                      folder_id:
                        type: string
                        nullable: true
                      player_id:
                        type: string
                        example: 0f62adab-d97f-48b6-b391-0d4eed1df3e2
                      version:
                        type: integer
                        example: 1
                      title:
                        type: string
                        example: archive-2022-06-16_10-00
                      subtitle:
                        type: string
                        example: ''
                      description:
                        type: string
                        example: ''
                      status:
                        type: string
                        example: done
                      progress:
                        type: integer
                        example: 0
                      duration:
                        type: number
                        example: 59.96
                      assets:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              example: e896c942-1c1d-4c09-b6c2-3e9146e51078
                            video_id:
                              type: string
                              example: 92063adc-06e4-4ea2-aba9-00f8e31193bc
                            original_name:
                              type: string
                              example: original
                            file_size:
                              type: integer
                              example: 7429890
                            md5:
                              type: string
                              example: 20311f947522b1dbc638d19f6a3a3317
                            filetype:
                              type: string
                              example: mp4
                            quality:
                              type: string
                              example: original
                            resolution:
                              type: string
                              example: 1920x1080
                            created_at:
                              type: string
                              example: '2022-06-28T12:37:40.725396Z'
                            url:
                              type: string
                              example: >-
                                https://kinescopecdn.net/b20c7104-2c22-49be-8ec3-e8a4b6af4dfb/videos/9206fadc-06e4-4ea2-aba9-00f8e30193bc/assets/e896c942-1c8d-4c09-b6c2-3e9146e58078/original.mp4?expires=1659343543&sign=abed13efa83264077b8c543f415d18e4
                            download_link:
                              type: string
                              example: >-
                                https://ru-msk-s3.kinescope.io/b20c7104-2c22-49be-8ec3-e8a4b6af4dfb/videos/9206fadc-06e4-4ea2-aba9-00f8e30193bc/mp4/original?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=api%2F20220801%2Fus-west-1%2Fs3%2Faws4_request&X-Amz-Date=20220801T081543Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&response-content-disposition=attachment&X-Amz-Signature=bc51f858dfc82029bd529fcd83a66cb8318ac56dfe138c02ad11870d53a53b0f
                          required:
                            - id
                            - video_id
                            - original_name
                            - file_size
                            - md5
                            - filetype
                            - quality
                            - resolution
                            - created_at
                            - url
                            - download_link
                      chapters:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              type: object
                          enabled:
                            type: boolean
                            example: false
                          show_on_load:
                            type: boolean
                            example: false
                        required:
                          - items
                          - enabled
                          - show_on_load
                      privacy_type:
                        type: string
                        example: anywhere
                      privacy_domains:
                        type: array
                        items:
                          type: string
                          example: auto.ru
                      privacy_share:
                        type: object
                        properties: {}
                      tags:
                        type: array
                        items:
                          type: object
                      poster:
                        type: object
                        properties:
                          id:
                            type: string
                            example: 10084d04-f643-4d4e-9a1b-5b70e4c8730e
                          status:
                            type: string
                            example: done
                          active:
                            type: boolean
                            example: true
                          original:
                            type: string
                            example: >-
                              https://kinescopecdn.net/b20c7104-2c22-49be-8ec3-e8a4b6af4dfb/posters/9206fadc-06e4-4ea2-aba9-00f8e30193bc/10084d04-f643-4d4e-9a1b-5b70e4c8730e.jpg
                          md:
                            type: string
                            example: >-
                              https://kinescopecdn.net/b20c7104-2c22-49be-8ec3-e8a4b6af4dfb/posters/9206fadc-06e4-4ea2-aba9-00f8e30193bc/md/10084d04-f643-4d4e-9a1b-5b70e4c8730e.jpg
                          sm:
                            type: string
                            example: >-
                              https://kinescopecdn.net/b20c7104-2c22-49be-8ec3-e8a4b6af4dfb/posters/9206fadc-06e4-4ea2-aba9-00f8e30193bc/sm/10084d04-f643-4d4e-9a1b-5b70e4c8730e.jpg
                          xs:
                            type: string
                            example: >-
                              https://kinescopecdn.net/b20c7104-2c22-49be-8ec3-e8a4b6af4dfb/posters/9206fadc-06e4-4ea2-aba9-00f8e30193bc/xs/10084d04-f643-4d4e-9a1b-5b70e4c8730e.jpg
                        required:
                          - id
                          - status
                          - active
                          - original
                          - md
                          - sm
                          - xs
                      additional_materials:
                        type: array
                        items:
                          type: object
                      additional_materials_enabled:
                        type: boolean
                        example: false
                      play_link:
                        type: string
                        example: https://kinescope.io/0fe408bb-4289-4088-8705-7d5a60b808bc
                      embed_link:
                        type: string
                        example: https://kinescope.io/embed/0fe408bb-4289-4088-8705-7d5a60b808bc
                      created_at:
                        type: string
                        example: '2022-06-28T12:37:39.447744Z'
                      updated_at:
                        type: string
                        example: '2022-06-28T12:57:49.605804Z'
                      subtitles:
                        type: array
                        items:
                          type: object
                      subtitles_enabled:
                        type: boolean
                        example: false
                      hls_link:
                        type: string
                        example: https://kinescope.io/0fe408bb-4289-4088-8705-7d5a60b808bc/master.m3u8
                    required:
                      - id
                      - project_id
                      - player_id
                      - version
                      - title
                      - status
                      - progress
                      - duration
                      - assets
                      - chapters
                      - privacy_type
                      - privacy_domains
                      - privacy_share
                      - tags
                      - poster
                      - additional_materials
                      - additional_materials_enabled
                      - play_link
                      - embed_link
                      - created_at
                      - updated_at
                      - subtitles
                      - subtitles_enabled
                      - hls_link
                required:
                  - data
              example:
                data:
                  id: 0fe408bb-4289-4088-8705-7d5a60b8081c
                  project_id: 5a676eb1-ffc1-4924-95fc-73b811fa139a
                  folder_id: null
                  player_id: 0f62adab-d97f-48b6-b391-0d4eed1df3e2
                  version: 1
                  title: archive-2022-06-16_10-00
                  subtitle: ''
                  description: ''
                  status: done
                  progress: 0
                  duration: 59.96
                  assets:
                    - id: e896c942-1c1d-4c09-b6c2-3e9146e51078
                      video_id: 92063adc-06e4-4ea2-aba9-00f8e31193bc
                      original_name: original
                      file_size: 7429890
                      md5: 20311f947522b1dbc638d19f6a3a3317
                      filetype: mp4
                      quality: original
                      resolution: 1920x1080
                      created_at: '2022-06-28T12:37:40.725396Z'
                      url: >-
                        https://kinescopecdn.net/b20c7104-2c22-49be-8ec3-e8a4b6af4dfb/videos/9206fadc-06e4-4ea2-aba9-00f8e30193bc/assets/e896c942-1c8d-4c09-b6c2-3e9146e58078/original.mp4?expires=1659343543&sign=abed13efa83264077b8c543f415d18e4
                      download_link: >-
                        https://ru-msk-s3.kinescope.io/b20c7104-2c22-49be-8ec3-e8a4b6af4dfb/videos/9206fadc-06e4-4ea2-aba9-00f8e30193bc/mp4/original?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=api%2F20220801%2Fus-west-1%2Fs3%2Faws4_request&X-Amz-Date=20220801T081543Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&response-content-disposition=attachment&X-Amz-Signature=bc51f858dfc82029bd529fcd83a66cb8318ac56dfe138c02ad11870d53a53b0f
                    - id: e0dfb1e3-4792-49a6-ae24-ad844772f626
                      video_id: 00000000-0000-0000-0000-000000000000
                      original_name: 1080p.mp4
                      file_size: 10949942
                      filetype: mp4
                      quality: 1080p
                      resolution: 1920x1080
                      created_at: '2022-06-28T12:41:31.622084Z'
                      url: https://msk-2-storage.kinescope.io/mp4/ad41cf1a-833c-426c-b799-ceba1eb101de
                      download_link: >-
                        https://msk-2-storage.kinescope.io/mp4/ad41cf1a-833c-421c-b729-cebaceb10cde?filename=archive-2022-06-16_10-00-1080p.mp4
                    - id: e2b4a52b-819f-4f06-a67c-f4e787d87e82
                      video_id: 00000000-0000-0000-0000-000000000000
                      original_name: 720p.mp4
                      file_size: 9417668
                      filetype: mp4
                      quality: 720p
                      resolution: 1280x720
                      created_at: '2022-06-28T12:41:31.622084Z'
                      url: https://msk-2-storage.kinescope.io/mp4/f9a50d23-e560-48d7-893b-e33f079fe799
                      download_link: >-
                        https://msk-2-storage.kinescope.io/mp4/f9a50d23-e560-48d7-893b-e33f079fe799?filename=archive-2022-06-16_10-00-720p.mp4
                    - id: d26c2768-9ec0-4ea0-8ded-0d99ff08950c
                      video_id: 00000000-0000-0000-0000-000000000000
                      original_name: 480p.mp4
                      file_size: 7737880
                      filetype: mp4
                      quality: 480p
                      resolution: 852x480
                      created_at: '2022-06-28T12:41:31.622084Z'
                      url: https://msk-2-storage.kinescope.io/mp4/66a3beeb-34fa-4f9d-aca9-756748632bb1
                      download_link: >-
                        https://msk-2-storage.kinescope.io/mp4/66a3beeb-34fa-4f9d-aca9-756738692bb1?filename=archive-2022-06-16_10-00-480p.mp4
                    - id: 0abec887-754a-4c57-bab8-091d47192d5b
                      video_id: 00000000-0000-0000-0000-000000000000
                      original_name: 360p.mp4
                      file_size: 6001013
                      filetype: mp4
                      quality: 360p
                      resolution: 640x360
                      created_at: '2022-06-28T12:41:31.622084Z'
                      url: https://msk-2-storage.kinescope.io/mp4/9b6a67ac-e16e-4911-a4eb-1ca7b9ca9152
                      download_link: >-
                        https://msk-2-storage.kinescope.io/mp4/9b6a67ac-e16e-4911-a4eb-1ca7b9ca9152?filename=archive-2022-06-16_10-00-360p.mp4
                  chapters:
                    items: []
                    enabled: false
                    show_on_load: false
                  privacy_type: anywhere
                  privacy_domains:
                    - auto.ru
                  privacy_share: {}
                  tags: []
                  poster:
                    id: 10084d04-f643-4d4e-9a1b-5b70e4c8730e
                    status: done
                    active: true
                    original: >-
                      https://kinescopecdn.net/b20c7104-2c22-49be-8ec3-e8a4b6af4dfb/posters/9206fadc-06e4-4ea2-aba9-00f8e30193bc/10084d04-f643-4d4e-9a1b-5b70e4c8730e.jpg
                    md: >-
                      https://kinescopecdn.net/b20c7104-2c22-49be-8ec3-e8a4b6af4dfb/posters/9206fadc-06e4-4ea2-aba9-00f8e30193bc/md/10084d04-f643-4d4e-9a1b-5b70e4c8730e.jpg
                    sm: >-
                      https://kinescopecdn.net/b20c7104-2c22-49be-8ec3-e8a4b6af4dfb/posters/9206fadc-06e4-4ea2-aba9-00f8e30193bc/sm/10084d04-f643-4d4e-9a1b-5b70e4c8730e.jpg
                    xs: >-
                      https://kinescopecdn.net/b20c7104-2c22-49be-8ec3-e8a4b6af4dfb/posters/9206fadc-06e4-4ea2-aba9-00f8e30193bc/xs/10084d04-f643-4d4e-9a1b-5b70e4c8730e.jpg
                  additional_materials: []
                  additional_materials_enabled: false
                  play_link: https://kinescope.io/0fe408bb-4289-4088-8705-7d5a60b808bc
                  embed_link: https://kinescope.io/embed/0fe408bb-4289-4088-8705-7d5a60b808bc
                  created_at: '2022-06-28T12:37:39.447744Z'
                  updated_at: '2022-06-28T12:57:49.605804Z'
                  subtitles: []
                  subtitles_enabled: false
                  hls_link: https://kinescope.io/0fe408bb-4289-4088-8705-7d5a60b808bc/master.m3u8
        '400':
          description: Bad request parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                      detail:
                        type: string
              example:
                error:
                  code: 400301
                  message: invalid uuid format
                  detail: see https://en.wikipedia.org/wiki/Universally_unique_identifier
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
[...]
